.searchFormStyle {
    text-align: center;
}

.resultStyle {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.buttonStyle {
    display: flex;
    margin: auto;
}